APP_NAME=Cao Hung Tech
APP_URL=http://localhost/TEST
APP_ENV=development

DB_HOST=localhost
DB_NAME=qlbhmt
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/TEST/auth/googleCallback
